<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mongodb" type="dokuku.mongoconfiguration.MongoConfigSection, dokuku.mongoconfiguration" />
  </configSections>
  <mongodb database="dokuku" username="admin" password="S31panas" admin="true" slaveOk="false" connectionMode="Direct">
    <serverAddresses>
      <add server="www.dokuku.net" port="29021" />
    </serverAddresses>
  </mongodb>
</configuration>